<main>
    <div class="section-padrao">
        <h2 class="subtitulo">Equipes</h2>
        <% @teams.each do |team| -%>
            <div class="container-padrao container-equipes">
                <i class="far fa-file-image holder-img"></i>
                <ul class="dados-equipe">
                    <li class="nomeequipe"><%= team.name %></li>
                    <%if team.players.count > 0 -%>
                        <li class="eloequipe">Elo <%= @elos[team.players.sort_by { |h| h[:level] * 1 if h[:level] != nil }[0].level]%></li>
                    <%end-%>
                    <li class="qtdjogadores"><%= team.players.count%> jogadores</li>
                    <li class="qtdjogadores">Nota: <%= team.grade != nil ? team.grade : "Sem Nota" %> </li> 
                    <%= link_to "Editar", edit_team_url(team), class: 'btn btn-primary botao-editar' %>
                </ul>
            </div>
        <% end -%>
        <div class="container-padrao nova-equipe">
            <i class="fas fa-user-plus"></i>
            <%= link_to "Nova Equipe", new_team_url(), class: 'btn btn-primary' %>
        </div>
    </div>

</main>


<%= render "components/menu" %>