<main>
<h2 class="subtitulo">Nova Equipe</h2>

<%= simple_form_for @team do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, 'Save', class: 'btn btn-lg mt-3 mb-2 back-btn' %>
<% end %>

<%= link_to "<button class='btn btn-primary'>Voltar</button>".html_safe, teams_path()%>
</main>


<%= render "components/menu" %>