<link href="https://fonts.googleapis.com/css?family=Changa|Varela+Round&display=swap" rel="stylesheet">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<% flash.each do |name, value| -%>
    <div class="alert alert-<%= name %>" id="alert" role="alert">
        <%= value %>
    </div>
<% end -%>

<nav class="lateral">
    <div class="divtitulo">
        <h1>BSI</h1>
        <h2>Base de Scrim Integrada</h2>
    </div>
    <div class="divnav">
        <div class="divlink">
        
            <%= link_to "<i class='fas fa-home'></i> Home".html_safe, root_path() %>
        </div>
        <div class="divlink">
            <%= link_to "<i class='fas fa-users'></i> Equipes".html_safe, search_team_path() %>
        </div>
        <div class="divlink">
            <%= link_to "<i class='fa fa-calendar'></i> Minhas Scrims".html_safe, scrims_path() %>
        </div>
        <div class="divlink">
            <a href=""><i class="fas fa-history"></i> Histórico</a>
        </div>
        <div class="divlink">
            <%= link_to "<i class='far fa-comments'></i> Mensagens".html_safe, chat_rooms_path() %>
        </div>
        <div class="divlink">
            <%= link_to "<i class='fas fa-user-edit'></i> Minhas Equipes".html_safe, teams_path(), class: 'nav-link' %>
        </div>
        <div class="divlink">
            <%= link_to "<i class='fas fa-cog'></i> Minha Conta".html_safe, user_path(current_user), class: "nav-link" %>
        </div>
    </div>
</nav>