<main>
  <h2 class="subtitulo"> Editar Conta </h2>

  <div class="card p-4">
    <div class="text-left">
      <%= link_to "<p>voltar</p>".html_safe, user_path(@user)%>
    </div>
    <%= simple_form_for @user do |f| %>
      <%= f.input :email, :label => 'Email: ' %>
      <%= f.button :submit, 'Salvar', class: 'btn btn-lg mt-3 mb-2 back-btn' %>
    <% end %>
    </div>
  </div>
</main>


<%= render "components/menu" %>