<main>
<h2 class="subtitulo">Minha Conta</h2>
<ul class="dados-conta">
    <li>
        Email: <%= @user.email %>
    </li>
</ul>

<%= link_to "<p>Mudar meus dados</p>".html_safe, edit_user_registration_path(current_user) %>

<%= link_to "<p>Transferir equipe</p>".html_safe, transfer_team_path() %>


<%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
</main>

<%= render "components/menu" %>