<link href="https://fonts.googleapis.com/css?family=Changa|Varela+Round&display=swap" rel="stylesheet">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1 class="titulo">BSI</h1>
<h2 class="subtitulo">Esqueceu sua senha?</h2>

<div class="div-form">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field login-dados">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions botao-password">
      <%= f.submit "Envie-me instruções para a troca de senha" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>