<main>
    <div class="section-padrao">
        <h2 class="subtitulo">Próximo Treino</h2>
        <div class="container-padrao container-treino-home">
            <i class="far fa-file-image holder-img"></i>
            <ul id="dados-treino">
                <li id="nome-adv">Time X</li>
                <li id="data-adv">01/07/2022 20:00</li>
            </ul>
        </div>
    </div>
    <div class="container-busca container-padrao">
        <div id="div-h2-busca">
            <h2>Buscar Scrim</h2>
        </div>

        <label for="teams">Escolha a equipe:</label>

        <select name="team" id="teamSelector">
        <% @teams.each do |team| -%>
            <option value="<%=team.id%>"><%=team.name%></option>          
        <% end -%>
        </select>
 
        <%= simple_form_for @scrim do |f| %>
            <%= f.input :team, as: :hidden, input_html: { value: @teams[0].id } %>
            <%= f.input :level, :label => 'Elo:', collection: @elos %>
            <%= f.input :date, :label => 'Data:', as: :date, html5: true%>
            <%= f.input :time, :label => 'Hora:', as: :time, html5: true%>
            <%= f.button :submit, 'Buscar Scrim', class: 'btn btn-primary botao-busca' %>
        <% end %>
    </div>
</main>

<%= render "components/menu" %>