<link href="https://fonts.googleapis.com/css?family=Changa|Varela+Round&display=swap" rel="stylesheet">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1 class="titulo">BSI</h1>
<h2 class="subtitulo">Base de Scrim Integrada</h2>
<div class="div-form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field login-dados">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field login-dados">
      <%= f.label :senha %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <div class="recover-senha">
          <%= link_to "Esqueceu sua senha?", new_password_path(resource_name) %>
        </div>
      <% end %>
    <div class="pos-form">
      <div class="container-login">
        <% if devise_mapping.rememberable? %>
          <div class="field remember">
            <%= f.check_box :remember_me %>
            <%= f.label :manter_login %>
          </div>
        <% end %>
        <div class="actions botao-login">
          <%= f.submit "Entrar" %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="container-cadastre">
    <p>Não possui uma conta?</p>
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "Cadastre-se", new_registration_path(resource_name) %><br />
    <% end %>
  </div>
</div>